<template lang="pug">
  #app.container-fluid
    notifications(
      group="general"
      position="bottom right"
    )
    template(
      v-if="!isLoaded"
    )
      .preloader
        img(
          src="@/assets/loading.gif"
          alt="Loading..."
        )
    template(v-else)
      .row
        .col.px-0
          .parallax-container
            h1.parallax-title Recent Payments
            parallax(
              :speed-factor="0.3"
              breakpoint="(min-width: 80px)"
            )
              img(
                src="@/assets/bg.jpg"
              )
      .row
        .col
          TableComponent(
            v-if="isLoaded"
            :table-data="getPaymentsData"
            :table-headers="['ID', 'Name', 'Description', 'Date', 'Amount']"
            @delete-record="deleteRecord"
            @edit-record="editRecord"
            @delete-selection="deleteSelection"
          )
</template>

<script>
import TableComponent from './components/TableComponent'
import Parallax from 'vue-parallaxy'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'app',
  components: {
    TableComponent,
    Parallax
  },
  data () {
    return {
      isLoaded: false
    }
  },
  methods: {
    ...mapActions(['fetchPayments', 'deletePayment', 'updatePayment']),
    deleteSelection (records) {
      this.$dialog.confirm(`Are you sure you want to delete the selected record${records.length === 1 ? '' : 's'}?`)
      .then(() => {
        this.getPaymentsData.filter(record => {
          return records.includes(record.ID)
        }).forEach(record => {
          this.deletePayment(record._key).then(() => {
            this.getPaymentsData.splice(this.getPaymentsData.indexOf(record), 1)
          }).catch((err) => {
            this.$notify({
              group: 'general',
              text: `${err.message}`,
              title: 'Ooops!',
              type: 'error'
            })
          })
        })
        this.$notify({
          group: 'general',
          text: `Total records deleted: ${records.length}`,
          title: 'Recent Payments',
          type: 'success'
        })
      })
      .catch(() => {})
    },
    deleteRecord (record) {
      this.$dialog.confirm(`Are you sure you want to delete the selected record?`)
      .then(() => {
        this.deletePayment(record._key).then(() => {
          this.getPaymentsData.splice(this.getPaymentsData.indexOf(record), 1)
          this.$notify({
            group: 'general',
            text: 'The record has been deleted.',
            title: 'Recent Payments',
            type: 'success'
          })
        }).catch((err) => {
          this.$notify({
            group: 'general',
            text: `${err.message}`,
            title: 'Ooops!',
            type: 'error'
          })
        })
      })
      .catch(() => {})
    },
    editRecord (record) {
      let description = prompt('Please, enter a new description', record.Description)

      if (description) {
        let index = this.getPaymentsData.indexOf(record)

        this.updatePayment({
          id: record._key,
          data: {
            'Description': description
          }
        }).then(() => {
          this.getPaymentsData[index].Description = description
          this.$notify({
            group: 'general',
            text: `Payment description updated.`,
            title: 'Recent Payments',
            type: 'success'
          })
        }).catch((err) => {
          this.$notify({
            group: 'general',
            text: `${err.message}`,
            title: 'Ooops!',
            type: 'error'
          })
        })

      }
    }
  },
  computed: {
    ...mapGetters(['getPaymentsData'])
  },
  created () {
    this.fetchPayments().then(() => {
      this.isLoaded = true
    }).catch(err => {
      this.$notify({
        group: 'general',
        text: `${err.message}`,
        title: 'Ooops!',
        type: 'error'
      })
      this.isLoaded = true
    })
  }
}
</script>

<style lang="scss">
  body {
    background: #222 !important;
  }

  .preloader {
    display: flex;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    align-items: center;
    justify-content: center;
  }

  .parallax-container {
    position: relative;
  }

  .parallax-title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 5em;
    text-shadow: 1px 1px 1px #000;
    background: rgba(#000, .5);
    padding: 10px;
  }

  th {
      min-width: 120px;
      cursor: pointer;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
</style>
