<template lang="pug">
  .c-table
    form.form.my-3
      .input-group
        .input-group-prepend
          span.input-group-text.bg-dark.text-white Search:
        input.form-control.form-control-lg(
          type="text"
          placeholder="Type your search"
          v-model.trim="searchTerm"
        )
        .input-group-append
          button.btn.btn-dark(
            type="reset"
            @click.prevent="searchTerm = ''"
            :disabled="!searchTerm"
          )
            i.fa.fa-close
    .alert.alert-info(
      v-if="tableIsFiltered && tableData.length"
    )
      | Filtering {{filteredRecords.length}} of {{tableData.length}} records.
      a.alert-link.float-right(
        href="#"
        @click.prevent="searchTerm = ''"
      ) Clear Filter
    .c-table__selection.fixed-bottom(
      v-if="actions.deleteSelection && selectedRecords.length"
    )
      .container-fluid
        .row
          .col
            p.d-inline Records selected: {{selectedRecords.length}}
          .col.text-right
            button.btn.btn-danger(
              type="button"
              @click="deleteSelection"
            )
              i.fa.fa-trash.mr-1
              | Remove selected records
    .table-responsive
      table.table.table-striped.table-hover.table-bordered.table-sm.table-dark(
        :style="{'margin-bottom': [actions.deleteSelection && selectedRecords.length ? '100px' : '']}"
      )
        thead
          tr
            th(
              v-if="actions.deleteSelection"
              class="c-table__header-selection"
            )
            th(
              v-for="(header, headerIndex) in tableHeaders"
              :key="headerIndex"
              @click="sortRecords(header)"
              :class="{'text-warning': sortBy === header}"
            )
              i.fa.fa-sort(v-if="sortBy !== header")
              i.fa.fa-sort-asc(v-if="sortBy === header && sortDirection === 'asc'")
              i.fa.fa-sort-desc(v-if="sortBy === header && sortDirection === 'desc'")
              span.ml-2 {{header}}
            th(
              v-if="hasActionsColumn"
              class="c-table__header-actions"
            )
        tbody
          tr(
            v-if="tableIsFiltered && !filteredRecords.length && tableData.length"
          )
            td(
              :colspan="colSpan"
              align="center"
            ) No results. Please, try a different search.
          tr(
            v-if="!tableData.length"
          )
            td(
              :colspan="colSpan"
              align="center"
            ) No records to display
          tr(
              v-for="(record, recordIndex) in sortedRecords"
              :key="recordIndex"
          )
            td(
              align="center"
              v-if="actions.deleteSelection"
            )
              input(
                type="checkbox"
                v-model="selectedRecords"
                :value="record.ID"
              )
            td {{record.ID}}
            td {{record.Name}}
            td {{record.Description}}
            td {{record.Date}}
            td {{record.Amount}}
            td(
              align="right"
              v-if="hasActionsColumn"
            )
              .btn-group
                button.btn.btn-sm.btn-warning.text-white(
                  type="button"
                  title="Edit"
                  @click="editRecord(record)"
                  v-if="actions.editRecord"
                )
                  i.fa.fa-edit
                button.btn.btn-sm.btn-danger(
                  type="button"
                  title="Delete"
                  @click="deleteRecord(record)"
                  v-if="actions.deleteRecord"
                )
                  i.fa.fa-trash
</template>

<script>
import './styles.scss'

export default {
  props: {
    tableData: {
      type: Array,
      default: () => []
    },
    tableHeaders: {
      required: true,
      type: Array
    }
  },
  data () {
    return {
      searchTerm: '',
      selectedRecords: [],
      sortBy: this.tableHeaders[0],
      sortDirection: 'asc',
      actions: {
        deleteSelection: this.$listeners['delete-selection'] ? true : false,
        deleteRecord: this.$listeners['delete-record'] ? true : false,
        editRecord: this.$listeners['edit-record'] ? true : false
      }
    }
  },
  methods: {
    deleteSelection () {
      this.$emit('delete-selection', this.selectedRecords)
    },
    deleteRecord (record) {
      this.$emit('delete-record', record)
    },
    editRecord (record) {
      this.$emit('edit-record', record)
    },
    sortRecords (field) {
      if (this.sortBy === field) {
        let sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc'
        this.sortDirection = sortDirection
      }
      this.sortBy = field
    }
  },
  computed: {
    colSpan () {
      let colSpan = this.tableHeaders.length

      if (this.actions.deleteRecord || this.actions.editRecord) {
        colSpan++
      }
      if (this.actions.deleteSelection) {
        colSpan++
      }

      return colSpan
    },
    hasActionsColumn () {
      return this.actions.deleteRecord || this.actions.editRecord
    },
    tableIsFiltered () {
      return this.searchTerm ? true : false
    },
    filteredRecords () {
      if (!this.searchTerm) {
        return this.tableData
      } else {
        let searchTerm = String(this.searchTerm).toLowerCase()

        return this.tableData.filter(record => {
            return String(record.ID).toLowerCase().includes(searchTerm) ||
            String(record.Name).toLowerCase().includes(searchTerm) ||
            String(record.Description).toLowerCase().includes(searchTerm) ||
            String(record.Date).toLowerCase().includes(searchTerm) ||
            String(record.Amount).toLowerCase().includes(searchTerm)
        })
      }
    },
    sortedRecords () {
      return this.filteredRecords.slice().sort((a, b) => {
        let flag = 1

        if (this.sortDirection === 'desc'){
          flag = -1
        }
        if (a[this.sortBy] < b[this.sortBy]) {
          return -1 * flag
        }
        if (a[this.sortBy] > b[this.sortBy]) {
          return 1 * flag
        }

        return 0
      })
    }
  },
  watch: {
    tableData () {
      this.selectedRecords = []
    }
  }
}
</script>
