$component: '.c-table';

#{$component} {
    &__selection {
        background: rgba(#111, .95);
        padding: 15px 0;
        color: #fff;
    }

    &__header {
        &-selection {
            min-width: 30px;
        }

        &-actions {
            width: auto;
            min-width: 0;
        }
    }
}
